NEXT_PUBLIC_SUPABASE_URL=https://ozrdbhlwofssamlejvn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96cmRiaGx3b2Zzc2FtbGNlanZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkxNjk1NTEsImV4cCI6MjA2NDc0NTU1MX0.SZuN7eYoUdpJixyWfvweh7PcONxLwwN3QAdm9kuBtS0